.company
{
    font-size: 1.3rem;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.fest
{
 
    font-size: 1.2rem;
    margin-bottom: 30px;
    /* margin-top: 20px; */
    margin-left: 20px;   
    float: right;
}
a{
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgb(20, 20, 20);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.btn
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #007bff;
    font-size: 1rem;
    
    border:1px solid #007bff;
    height: 35px;
    width: 80px;
    border-radius: .25rem;
    background-color: white;
    margin-right: 10px;
}
.btn:hover{
    background-color: #007bff;
    color: aliceblue;
}

.line
{
    border-top: 0.5px solid rgb(240, 237, 237);
    margin-bottom: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
}

.price{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-bottom: -10px;
}
.lead{
    font-size: 1.25rem;
    text-align: center;
    font-weight: 900;
    word-spacing: 3px;
    line-height: 30px;
}

.card1head{
    height: 48px;
    width: 275px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: whitesmoke;
    /* font-size: 1.5rem; */
    text-align: center;
    /* margin-left: 10px; */
}
.mid
{
    font-size: 1.5rem;
    margin-top: 10px;

} 
.c1main
{
    height: 325px;
    width: 275px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: white;
    text-align: center;
    box-align: center;
    margin-left: 10px;

}
.c1text
{
    font-size: 1rem;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
h2{
    font-size: 45px;
    display: flex;
    margin-left: 75px;
}

.c1btn
{
   
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #007bff;
    font-size: 1.4rem;
    
    border:1px solid #007bff;
    height: 43px;
    width: 250px;
    border-radius: .25rem;
    background-color: white;
    margin-left: 10px; 
    cursor: pointer;
}
.c1btn:hover{
    background-color: #007bff;
    color: aliceblue;
} 
.up{
    margin-top: 10px;
}
.grey{
    font-size:40px ;
    color: grey;
    margin-left: 10px;
    /* display: inline; */
}

.card2head{
    height: 48px;
    width: 275px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: whitesmoke;
    /* font-size: 1.5rem; */
    text-align: center;
    margin-left: 25px;
}

.mid2
{
    font-size: 1.5rem;
    margin-top: 10px;
}

.c2main
{
    height: 275px;
    width: 275px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: white;
    text-align: center;
    box-align: center;
    margin-left: 25px;

}
.c2text
{
    font-size: 1rem;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}



.c2btn
{
   
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: white;
    font-size: 1.4rem;
    
    border:1px solid #007bff;
    height: 43px;
    width: 250px;
    border-radius: .25rem;
    background-color: #007bff;
    margin-left: 10px; 
    cursor: pointer;
}
.c2btn:hover{
    background-color: #0a67ca;
    color: aliceblue;
} 


.main{
display: flex;
margin-top: 50px;
}

.line1
{
    border-top: 0.5px solid rgb(170, 166, 166);
    margin-bottom: 65px;
    margin-top: 80px;
}
.features{
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 15rem;
    /* display: flex; */
}
.boot{
    margin-left: 15px;
    display: flex;
}

li{
cursor: pointer;
color: gray;
text-decoration: none;
}
li:hover
{
text-decoration: underline;
color: gray;

}
.just{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.res{
font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 70px; 
}
.abu{
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 88px; 
}
.box1{
    margin-right: -85px;
    margin-top: 15px;
}
.space{
    margin-bottom: 10px;
}