.height{
    min-height: 100vh;
}
.title-underline{
    background-color: blue !important;
    width: 200px;
    height:10px;
    margin: 0 auto;

   

}
.height-80{
    min-height: 80vh;
}

.about-picture{
    background: url(../project2/wall/pexels-photo-1262302.jpeg)center/cover no-repeat fixed;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
#filler{
    background:linear-gradient(rgba(63, 60, 11, 0.5),rgba(255, 159, 15, 0.9)),url(../project2/wall/6.jpg)center/cover no-repeat fixed;

}

.form-sec{ background:#ccc;
    background: #f8f9fa;padding: 15px;box-shadow: 0 0 4px #ccc;}