body{
    background-color:#f9f8f8;
}

/* navbar */
.dropdown-menu{
    background-color:#5d63dc;
    left: -250px;
    min-width: 50rem;
}
@media (max-width: 768px) {
    .dropdown-menu{
        min-width: 10rem;
    }
}

/* banner */
.jumbo{
    background-color:#5d63dc;
    border-bottom-left-radius: 100px;
    height: 65vh;
}
.heading{
    margin: 100px 320px;
}
@media (max-width: 768px) {
    .heading{
        margin: 100px 50px; 
    }
}
.breadcrumb{
    background-color: transparent;
    margin: 20px 270px;
}
@media (max-width: 768px) {
    .breadcrumb{
        margin: -50px 30px;
    }
}

/*  Monthly and yearly */
.page{
    height: 100vh;
    border-bottom: 1px solid gray;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #12c9c0;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #12c9c0;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }  
  .card0{
     width: 50vh;
     height: 70vh;
    background-color: white;
    border-top: 10px solid #12c9c0;
    box-shadow: 1px 2px 4px 2px #e6dede;
}
.card1{
    margin-top: -25px;
    height: 80vh;
}
.heading2 {
    color: #12c9c0;
}
.btn{
    border-radius: 40px;
}
.btn7{
    background-color: white;
    border-color: gray;
    color: gray;
}
.btn7:hover{
    background-color: blue;
    border-color: transparent;
    color: white;
}
.btn8{
    background-color: #12c9c0;
    border-color: transparent;
    color: white;
}
.btn8:hover{
    background-color: white;
    border-color: black;
    color: black;
}

  /*Key Features  */
.page1{
    height: 120vh;
    border-bottom: 1px solid gray;
}  
table {
    border-spacing: 0;
    width: 100%;
  }
  
  th, td {
    padding: 16px;
    
  }
  
/* popular */
.page2{
    height: 200vh;
}


/* subscribe */
.page7{
    background-color:#5d63dc;
    border-top-right-radius: 110px;
    height: 60vh;
    
}
@media (max-width: 768px) {
    .page7{
      height: 90vh; 
    }
}
.input{
    border-radius: 40px;
    height: 8vh;
    width: 55vh;
}
.btn9{
    background-color: #0accbe;
    color: white;
    height: 8vh;
    margin-left: 120px;
}
.btn9:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}
.btn10{
    background-color: #0accbe;
    color: white;
    height: 8vh;
    width: 26vh;
    margin-left: 110px; 
}
.btn10:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}
@media (max-width: 768px) {
    .btn10{
      margin-left: 5px; 
    }
  }
.btn11{
    margin-left: 48px;
    background-color: transparent;;
    color: white;
    border: 2px solid white;
    height: 8vh;
    width: 35vh;
    
}
.btn11:hover{
    background-color: #6269ec;
    border-color: transparent;
    color: white;
}
@media (max-width: 768px) {
    .btn11{
        margin-left: 5px;  
    }
 }
 .data{
    margin-top:100px; 
}

 /* footer */
 .main-footer{
    background-color:#5d63dc;
    height: 50vh;
    margin-top: -48px;
}
@media (max-width: 768px) {
    .main-footer{
      height: 130vh; 
    }
}
@media (max-width: 576px) {
    .main-footer{
      height: 110vh; 
    }
}
.btn12{
    background-color: white;
    color: black;
    border:1px solid transparent;
    height: 8vh;
}
.btn12:hover{
    background-color: #0accbe;
    color: white;
    border:1px solid transparent;
}