body {
    margin: 0;
}

html, body {
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    background-color: bisque;
}

.container div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: bisque;
}

.container div:nth-child(1) {
    background-color: #94ceb4;
}

.container div:nth-child(2) {
    background-color: coral;
}

.container div:nth-child(3) {
    background-color: #94ceb4;
}
.container div:nth-child(4) {
    background-color: coral;
}